/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  background: linear-gradient(#f9fafb, #d2d6db);
  color: #030712;
}

* {
  box-sizing: border-box;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.card-container {
  width: 340px;
  margin-top: 120px;
}

.card-container img {
  width: 100%;
  height: 288px;
}

.card-container a::after {
  content: url('../img/Vector.svg');
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 0.5rem;
}